# `Guided Lab 342.3.2 - Inserting Data Into MySQL From Python`

In [15]:
import mysql.connector as mydbconnection
from mysql.connector import Error
try:
	conn = mydbconnection.connect(database='usersdb', user='root',password='password', port ='3306')
	cursor=conn.cursor()
	myquery2 = "CREATE TABLE `laptop` (`Id` int(11) NOT NULL,\
  `Name` varchar(250) NOT NULL,\
  `Price` float NOT NULL,\
  `Purchase_date` date NOT NULL)"
	cursor.execute(myquery2)
	print("Table is created")
except Error as e:
    print("Failed to create table {}".format(e))
finally:
    if conn.is_connected():
        conn.close()
    print("MySQL connection is closed")

Failed to create table Authentication plugin 'caching_sha2_password' is not supported

AttributeError: 'NoneType' object has no attribute 'is_connected'

In [16]:
conn = None
try:
    conn = mysql.connector.connect(...)  # your connection details
    cursor = conn.cursor()
    cursor.execute("CREATE TABLE ...")
    conn.commit()
except mysql.connector.Error as e:
    print("Failed to create table {}".format(e))
finally:
    if conn is not None and conn.is_connected():
        conn.close()
        print("MySQL connection is closed")

NameError: name 'mysql' is not defined