## Section 1

In [18]:
t = 33 # Initialize the value of t 
b = 85 # Initialize the value of b 
result = t + b
print(result)

118

## Section 2

In [17]:
k = 4.12 # Initialize the value of k
h = 99.0 # Initialize the value of h 
result = k + h
print(result)

103.12

## Section 3

In [15]:
k = 33 # Initialize the value of k 
m = 5.51 # Initialize the value of m 
result = k + m 
print(result)

38.51

 ## Section 4

In [16]:
p = 88 #Initialize the value of p 
i = 67 #Initialize the value of i 
result = p / i 
print(result)

1.3134328358208955

## Section 5

In [19]:
o = 5.7 # Initialize the value of o 
a = 1.22 # Initialize the value of a 
result = o / a 
print(result)

4.672131147540984

## Section 6

In [ ]:
coffee = 2.99 
cappuccino = 2.69
espresso = 1.00
green_tea = 1.59

## Section 7

In [ ]:
subtotal =  (coffee *3)+(cappuccino*4)+(espresso*2)
print(subtotal)
sales_tax = .10 
totalsale = (subtotal* sales_tax) + (subtotal)
print(totalsale)

946.83
1041.5130000000001

## Section 8

In [34]:
radius = 63 
circle = 3.14 * radius**2 
print (circle)

12462.66