### `Apache Spark (Pyspark) - SBA 345`

### In this skill-based assignment (SBA), you will analyze the dataset for the imaginary company, “CompanyABC,” using PySpark. The dataset is about stocks and sales, and you will be asked some basic questions about CompanyABC stock and sales data.

#### `Section one: CompanyABC Stock Data` 
##### Load/Read the CompanyABC stock (CompanyABC_stock.csv) data into the SparkSQL DataFrame [hint read()]. 
##### After loading the data, you can inspect the data by using the lines of the code below.

In [2]:
import pyspark  # Imported the required packages 
from pyspark.sql import SparkSession 

spark = SparkSession.builder.appName("CSV Reader").getOrCreate() 
company_df = spark.read.load(r"C:\Users\CompanyABC_stock.csv", format="csv", header = True,inferSchema = True)
#the above line will return data in a DataFrame

company_df.printSchema()

company_df.show()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

##### Inspecting the data

In [3]:
company_df.columns
company_df.printSchema()
company_df.describe().show()
company_df.show()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

##### Print the first five rows

In [4]:
company_df.count() # Return number of rows 
company_df.printSchema() #Return schema 
company_df.show(5) # Showing first five rows

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

+----------+------------------+---------+---------+------------------+--------+------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

##### Create a new DataFrame column called "HV Ratio", which will stimulate the ratio of the High price versus the total Volume of stock that was traded for a day.

In [5]:
from pyspark.sql.functions import col
company_df = company_df.withColumn("HV Ratio", col("High") / col("Volume")) 
company_df.select("High", "Volume", "HV Ratio").show()

+------------------+--------+--------------------+
|              High|  Volume|            HV Ratio|
+------------------+--------+--------------------+
|         61.060001|12668800|4.819714653321546E-6|
|         60.349998| 9593300|6.290848613094555E-6|
|         59.619999|12768200|4.669412994783916E-6|
|         59.450001| 8069400|7.367338463826307E-6|
|         59.549999| 6679300|8.915604778943901E-6|
|59.709998999999996| 6907300|8.644477436914568E-6|
|         59.529999| 6365600|9.351828421515645E-6|
|              60.0| 7236400| 8.29141562102703E-6|
|59.610001000000004| 7729300|7.712212102001476E-6|
|60.110001000000004| 8500000|7.071764823529412E-6|
|         60.029999| 5911400|1.015495466386981E-5|
|             60.73| 9234600|6.576354146362592...|
|             61.25|10378800| 5.90145296180676E-6|
|             60.98| 7134100|8.547679455011844E-6|
|              62.0| 7362800|8.420709512685392E-6|
|61.610001000000004| 5915800|1.041448341728929...|
|             61.84| 7436200|8.316075414862431E-6|
|         61.119999| 6287300|9.721183814992126E-6|
|             61.32| 7636900|8.029436027707578E-6|
|             61.57| 9761500|6.307432259386365E-6|
+------------------+--------+--------------------+
only showing top 20 rows

##### Find out on what day the stock price was the highest. (Hint: use the High column)

In [6]:
from pyspark.sql.functions import max
max_high = company_df.agg(max("High")).collect()[0][0] 
highest_day_df = company_df.filter(col("High") == max_high)
highest_day_df.select("Date", "High").show()

+----------+---------+
|      Date|     High|
+----------+---------+
|2015-01-13|90.970001|
+----------+---------+

##### What is the average (mean) closing price? (Hint: Use the Close column)

In [7]:
from pyspark.sql.functions import avg

company_df.select(avg("Close")).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

##### What are the maximum and minimum volumes of stock traded? (Hint: Use the Count() method)

In [8]:
from pyspark.sql.functions import max, min

company_df.select(
    max("Volume").alias("Max Volume"),
    min("Volume").alias("Min Volume")
).show()

+----------+----------+
|Max Volume|Min Volume|
+----------+----------+
|  80898100|   2094900|
+----------+----------+

##### For how many days was the closing value less than 70 dollars? (Hint: Use the count() method)

In [9]:
num_days = company_df.filter(company_df["Close"] < 70).count()

print(f"Number of days with closing value less than $70: {num_days}")

Number of days with closing value less than $70: 397

##### What percentage of the time was the High greater than 80 dollars? (Hint: Number of Days High>80)/(Total Days in the dataset).

In [10]:

days_high_greater_80 = company_df.filter(company_df["High"] > 80).count()

total_days = company_df.count()

percentage = (days_high_greater_80 / total_days) * 100

print(f"Percentage of days greater than > $80: {percentage:.2f}%")

Percentage of days greater than > $80: 9.14%

##### Create a database named CompanyABC_DB using SQL (Workbench). 
##### Load/Write CompanyABC_stock.csv file data into CompanyABC_DB database from the SparkSQL Dataframe. You can specify any table name for that file.

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MyApp") \
    .config("spark.jars", r"C:\Users\CompanyABC_stock.csv").getOrCreate()

In [12]:
company_df.write \
    .format("jdbc") \
    .mode("overwrite") \
    .option("url", "jdbc:mysql://localhost:3306/CompanyABC_DB") \
    .option("dbtable", "money_data") \
    .option("user", "root") \
    .option("password", "password") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .save()

##### Section Two: CompanyABC Scales Data

##### Load/Read both CompanyABC sales datasets (Sales_April_2019.csv and Sales_February_2019.csv) into a single SparkSQL DataFrame ( hint read() ). You can inspect data by using the lines below:

In [13]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("CompanyABC Sales") \
    .getOrCreate()

april_df = spark.read.option("header", "true").csv(r"C:\Users\Sales_April_2019.csv")
feb_df = spark.read.option("header", "true").csv(r"C:\Users\Sales_February_2019.csv")

sales_df = april_df.union(feb_df)

# Inspect the data
sales_df.show(5)
sales_df.printSchema()

+--------+--------------------+----------------+----------+---------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|     Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+---------------+--------------------+
|  176558|USB-C Charging Cable|               2|     11.95| 4/19/2019 8:46|917 1st St, Dalla...|
|  176559|Bose SoundSport H...|               1|     99.99| 4/7/2019 22:30|682 Chestnut St, ...|
|  176560|        Google Phone|               1|       600|4/12/2019 14:38|669 Spruce St, Lo...|
|  176560|    Wired Headphones|               1|     11.99|4/12/2019 14:38|669 Spruce St, Lo...|
|  176561|    Wired Headphones|               1|     11.99| 4/30/2019 9:27|333 8th St, Los A...|
+--------+--------------------+----------------+----------+---------------+--------------------+
only showing top 5 rows

root
 |-- Order ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: string (nullable = true)
 |-- Price Each: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)

In [14]:
april_df.columns
feb_df.columns
april_df.printSchema()
feb_df.printSchema()
april_df.describe().show() 
feb_df.describe().show() 
april_df.show()
feb_df.show()

root
 |-- Order ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: string (nullable = true)
 |-- Price Each: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)

root
 |-- Order ID: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: string (nullable = true)
 |-- Price Each: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)

+-------+------------------+------------+-------------------+------------------+--------------+--------------------+
|summary|          Order ID|     Product|   Quantity Ordered|        Price Each|    Order Date|    Purchase Address|
+-------+------------------+------------+-------------------+------------------+--------------+--------------------+
|  count|             18324|       18324|              18324|             18324|         18324|               18324|
|   mean|185328.81672043304|        NULL| 1.1246104215648751|184.43102630000277|          NULL|                NULL|
| stddev| 5061.520829296985|        NULL|0.43640973695741925| 330.9133771769665|          NULL|                NULL|
|    min|            176558|20in Monitor|                  1|            109.99|4/1/2019 10:00|1 14th St, New Yo...|
|    max|          Order ID|      iPhone|   Quantity Ordered|        Price Each|    Order Date|    Purchase Address|
+-------+------------------+------------+-------------------+------------------+--------------+--------------------+

+-------+------------------+------------+------------------+------------------+--------------+--------------------+
|summary|          Order ID|     Product|  Quantity Ordered|        Price Each|    Order Date|    Purchase Address|
+-------+------------------+------------+------------------+------------------+--------------+--------------------+
|  count|             12004|       12004|             12004|             12004|         12004|               12004|
|   mean|156250.61338227932|        NULL|1.1230602369431002|182.74150675788204|          NULL|                NULL|
| stddev|3322.0752634362825|        NULL|0.4311103873526451|325.54329574605885|          NULL|                NULL|
|    min|            150502|20in Monitor|                 1|            109.99|02/01/19 01:51|1 Hill St, Boston...|
|    max|          Order ID|      iPhone|  Quantity Ordered|        Price Each|    Order Date|    Purchase Address|
+-------+------------------+------------+------------------+------------------+--------------+--------------------+

+--------+--------------------+----------------+----------+---------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|     Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+---------------+--------------------+
|  176558|USB-C Charging Cable|               2|     11.95| 4/19/2019 8:46|917 1st St, Dalla...|
|  176559|Bose SoundSport H...|               1|     99.99| 4/7/2019 22:30|682 Chestnut St, ...|
|  176560|        Google Phone|               1|       600|4/12/2019 14:38|669 Spruce St, Lo...|
|  176560|    Wired Headphones|               1|     11.99|4/12/2019 14:38|669 Spruce St, Lo...|
|  176561|    Wired Headphones|               1|     11.99| 4/30/2019 9:27|333 8th St, Los A...|
|  176562|USB-C Charging Cable|               1|     11.95|4/29/2019 13:03|381 Wilson St, Sa...|
|  176563|Bose SoundSport H...|               1|     99.99|  4/2/2019 7:46|668 Center St, Se...|
|  176564|USB-C Charging Cable|               1|     11.95|4/12/2019 10:58|790 Ridge St, Atl...|
|  176565|  Macbook Pro Laptop|               1|      1700|4/24/2019 10:38|915 Willow St, Sa...|
|  176566|    Wired Headphones|               1|     11.99| 4/8/2019 14:05|83 7th St, Boston...|
|  176567|        Google Phone|               1|       600|4/18/2019 17:18|444 7th St, Los A...|
|  176568|Lightning Chargin...|               1|     14.95|4/15/2019 12:18|438 Elm St, Seatt...|
|  176569|27in 4K Gaming Mo...|               1|    389.99|4/16/2019 19:23|657 Hill St, Dall...|
|  176570|AA Batteries (4-p...|               1|      3.84|4/22/2019 15:09|186 12th St, Dall...|
|  176571|Lightning Chargin...|               1|     14.95|4/19/2019 14:29|253 Johnson St, A...|
|  176572|Apple Airpods Hea...|               1|       150| 4/4/2019 20:30|149 Dogwood St, N...|
|  176573|USB-C Charging Cable|               1|     11.95|4/27/2019 18:41|214 Chestnut St, ...|
|  176574|        Google Phone|               1|       600| 4/3/2019 19:42|20 Hill St, Los A...|
|  176574|USB-C Charging Cable|               1|     11.95| 4/3/2019 19:42|20 Hill St, Los A...|
|  176575|AAA Batteries (4-...|               1|      2.99| 4/27/2019 0:30|433 Hill St, New ...|
+--------+--------------------+----------------+----------+---------------+--------------------+
only showing top 20 rows

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  150502|              iPhone|               1|       700|02/18/19 01:35|866 Spruce St, Po...|
|  150503|AA Batteries (4-p...|               1|      3.84|02/13/19 07:24|18 13th St, San F...|
|  150504|27in 4K Gaming Mo...|               1|    389.99|02/18/19 09:46|52 6th St, New Yo...|
|  150505|Lightning Chargin...|               1|     14.95|02/02/19 16:47|129 Cherry St, At...|
|  150506|AA Batteries (4-p...|               2|      3.84|02/28/19 20:32|548 Lincoln St, S...|
|  150507|Lightning Chargin...|               1|     14.95|02/24/19 18:50|387 12th St, Aust...|
|  150508|AA Batteries (4-p...|               1|      3.84|02/21/19 19:26|622 Center St, Sa...|
|  150509|Apple Airpods Hea...|               1|       150|02/26/19 19:53|921 6th St, Seatt...|
|  150510|USB-C Charging Cable|               1|     11.95|02/17/19 21:48|451 2nd St, Los A...|
|  150511|USB-C Charging Cable|               1|     11.95|02/22/19 07:36|689 River St, San...|
|  150512|Bose SoundSport H...|               1|     99.99|02/17/19 18:29|198 Center St, Lo...|
|  150513|Bose SoundSport H...|               1|     99.99|02/25/19 20:49|777 Spruce St, Lo...|
|  150514|    27in FHD Monitor|               1|    149.99|02/03/19 00:21|723 Wilson St, Lo...|
|  150515|Apple Airpods Hea...|               1|       150|02/18/19 14:53|101 13th St, New ...|
|  150516|Lightning Chargin...|               1|     14.95|02/20/19 12:29|303 Sunset St, At...|
|  150517|    Wired Headphones|               1|     11.99|02/08/19 12:57|471 13th St, San ...|
|  150518|  Macbook Pro Laptop|               1|      1700|02/26/19 12:38|847 10th St, San ...|
|  150518|              iPhone|               1|       700|02/26/19 12:38|847 10th St, San ...|
|  150519|    Wired Headphones|               1|     11.99|02/23/19 13:25|111 Hill St, Dall...|
|  150520|AA Batteries (4-p...|               2|      3.84|02/27/19 14:39|512 Church St, Da...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import col
sales_df = sales_df.withColumn(
    "Total price",
    (col("Quantity Ordered").cast("float") * col("Price Each").cast("float"))
)
sales_df.select("Quantity Ordered", "Price Each", "Total price").show(5)

+----------------+----------+-----------+
|Quantity Ordered|Price Each|Total price|
+----------------+----------+-----------+
|               2|     11.95|       23.9|
|               1|     99.99|      99.99|
|               1|       600|      600.0|
|               1|     11.99|      11.99|
|               1|     11.99|      11.99|
+----------------+----------+-----------+
only showing top 5 rows

In [16]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("WriteSalesData") \
    .config("spark.jars", "C:/path/to/mysql-connector-java-8.0.xx.jar") \
    .getOrCreate()

In [17]:
sales_df.write \
    .format("jdbc") \
    .mode("overwrite") \
    .option("url", "jdbc:mysql://localhost:3306/CompanyABC_DB") \
    .option("dbtable", "money_data") \
    .option("user", "root") \
    .option("password", "password") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .save()