# `Python Pandas & Data Analytics Notes`

### Python Analytical base libraries

#### Data Cleaning & Transformation (Use Pandas)

#### Numerical Analysis & Statistical Computation (NumPy)

#### Data Visualization (Matplotlib)

### `Overview Of Pandas`

#### Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring and manipulating data.

#### Pandas provides fast, flexible, and expressive data structures designed to make working with "relational" or "labeled" data both easy and intuitive. Pandas stands for "Panel Data"

#### Pandas can give you a correlation between two or more columns. The average value. The min value. The max value.

#### Pandas is the most important python package for data analysis, with capabilities such as checking data types and extracting correlations between data fields.

#### Pandas is good for tabular data with heterogeneously typed columns, as in an SQL table or Excel spreadsheet.

#### Pandas allows for loading various data file types, including CSV, Excel, and JSON into dataframes, which can then be manipulated and transformed.

#### Pandas offer ordered and unordered (not necessarily fixed-frequency) time series data. The data need not be labeled at all to be placed into a pandas data structure.

In [ ]:
import pandas  # Imported into my application

In [3]:
import pandas 

mydataset = {
    'cars': ["BWM", "Volvo", "Ford"], 
    'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset) 
print(myvar)

    cars  passings
0    BWM         3
1  Volvo         7
2   Ford         2

#### A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

In [ ]:
import pandas as pd # Imported pandas as pd

a = [1, 7, 2]  # Created a table

myvar = pd.Series(a) # Printed the Series in the table as well as the dtype. 
print(myvar)

0    1
1    7
2    2
dtype: int64

#### Labels: If nothing is else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc. The label can be used to access a specified value.

In [ ]:
# Return the first value of the series

print(myvar[0]) # Will return the first value of the series

1

#### Create Labels with the index arguments, you can name your own labels.

In [ ]:
import pandas as pd 

a = [1, 7, 2] 

myvar = pd.Series(a, index = ["x", "y", "z"]) # Created labels with the index arguments 

print(myvar)

x    1
y    7
z    2
dtype: int64

#### You can access an item by referring to the label

In [8]:
print(myvar["y"]) #  Returning the value of y

7

#### Key/Value Objects as Series. You can also use a key/value object, like a dictionary, when creating a Series.

In [ ]:
import pandas as pd 

calories = {"day1": 420, "day2": 380, "day3": 390} # Created a simple Pandas Series from a dictionary 

myvar = pd.Series(calories) 

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

#### To select only some of the items in the dict, use the index argument and specify only the items you want to include in the series.

In [3]:
import pandas as pd 

calories = {"day1": 420, "day2": 380, "day3": 390} 

myvar = pd.Series(calories, index = ["day1", "day2"]) # Created a series using only data from "day1" & "day2" 

print(myvar)

day1    420
day2    380
dtype: int64

#### Data sets in Pandas are usually multi-dimensional tables, called DataFrames. Series is like a column, a DataFrame is the whole table.

In [ ]:
import pandas as pd 

data = { 
    "calories": [420, 380, 390], # Created a DataFrame from two series
    "duration": [50, 40, 45] 
}

myvar = pd.DataFrame(data) 

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45